.SignIn_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  color: white;
}

.SignIn_Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #181818;
  border: 1px solid #373737;
  padding: 20px 50px;
  gap: 10px;
}

.SignIn_Title {
  font-size: 24px;
}

.SignIn_SubTitle {
  font-size: 20px;
  font-weight: 300;
}

.SignIn_Input {
  border: 1px solid #373737;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
  width: 100%;
  color: white;
}

.SignIn_Button {
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #373737;
  color: #aaaaaa;
}

.SignIn_More {
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  color: #aaaaaa;
}

.SignIn_Links {
  margin-left: 50px;
}

.SignIn_Link {
  margin-left: 30px;
}
