.Comment_Container {
  display: flex;
  gap: 10px;
  margin: 30px 0px;
}

.Comment_Avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Comment_Details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.Comment_Name {
  font-size: 13px;
  font-weight: 500;
}

.Comment_Date {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  margin-left: 5px;
}

.Comment_Text {
  font-size: 14px;
}
